In [24]:
import pandas as pd
import numpy as np

# Extracting data from database
import pymysql                 

# Establishing connection and authentication
from sqlalchemy import create_engine

from getpass import getpass

In [25]:
password = getpass()

········

In [26]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
# print(connection_string)
engine = create_engine(connection_string)

In [27]:
type(engine)

sqlalchemy.engine.base.Engine

# Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X).

In [28]:
film_and_rental_query = '''
SELECT f.title, r.rental_date, f.rating, f.length, f.rental_duration, f.special_features, fc.category_id
FROM film f
LEFT JOIN inventory i
USING (film_id)
LEFT JOIN rental r
USING (inventory_id)
LEFT JOIN film_category fc
USING (film_id)
GROUP BY f.title

'''

In [29]:
# data = pd.read_sql_query(film_and_rental_query, engine)
# print(data.shape)
# data.head().T

# The bove query works in SQL workbench but not in jupyter notebook. 
# Hence after the query I saved the results in .csv file and read it.

data = pd.read_csv("Results.csv")
print(data.shape)
data.head()

(1000, 7)

,title,rental_date,rating,length,rental_duration,special_features,category_id
0,ACADEMY DINOSAUR,2005-07-08 19:03:15,PG,86,6,"Deleted Scenes,Behind the Scenes",6
1,ACE GOLDFINGER,2005-08-01 04:24:47,G,48,3,"Trailers,Deleted Scenes",11
2,ADAPTATION HOLES,2005-07-27 01:21:19,NC-17,50,7,"Trailers,Deleted Scenes",6
3,AFFAIR PREJUDICE,2005-07-12 02:40:41,G,117,5,"Commentaries,Behind the Scenes",11
4,AFRICAN EGG,2005-05-28 07:53:38,G,130,6,Deleted Scenes,8

# Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.

In [30]:
data.isna().sum()

title                0
rental_date         42
rating               0
length               0
rental_duration      0
special_features     0
category_id          0
dtype: int64

In [31]:
data.dtypes

title               object
rental_date         object
rating              object
length               int64
rental_duration      int64
special_features    object
category_id          int64
dtype: object

In [32]:
data["rental_date"] = pd.to_datetime(data["rental_date"])

In [33]:
data["rented_in_May"] = np.where((data["rental_date"].dt.month == 5), True, False)

In [34]:
data.head()

,title,rental_date,rating,length,rental_duration,special_features,category_id,rented_in_May
0,ACADEMY DINOSAUR,2005-07-08 19:03:15,PG,86,6,"Deleted Scenes,Behind the Scenes",6,False
1,ACE GOLDFINGER,2005-08-01 04:24:47,G,48,3,"Trailers,Deleted Scenes",11,False
2,ADAPTATION HOLES,2005-07-27 01:21:19,NC-17,50,7,"Trailers,Deleted Scenes",6,False
3,AFFAIR PREJUDICE,2005-07-12 02:40:41,G,117,5,"Commentaries,Behind the Scenes",11,False
4,AFRICAN EGG,2005-05-28 07:53:38,G,130,6,Deleted Scenes,8,True

In [35]:
display(data.dtypes)
data.isna().sum()

title                       object
rental_date         datetime64[ns]
rating                      object
length                       int64
rental_duration              int64
special_features            object
category_id                  int64
rented_in_May                 bool
dtype: object

title                0
rental_date         42
rating               0
length               0
rental_duration      0
special_features     0
category_id          0
rented_in_May        0
dtype: int64

# Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.

In [36]:
data.shape

(1000, 8)

# Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [37]:
splited = pd.DataFrame(data['special_features'].values.tolist()).rename(columns={0:'special_features'})
display(type(splited))
splited = splited['special_features'].str.split(',', expand=True)
splited

pandas.core.frame.DataFrame

                  0                  1                  2     3
0    Deleted Scenes  Behind the Scenes               None  None
1          Trailers     Deleted Scenes               None  None
2          Trailers     Deleted Scenes               None  None
3      Commentaries  Behind the Scenes               None  None
4    Deleted Scenes               None               None  None
..              ...                ...                ...   ...
995        Trailers  Behind the Scenes               None  None
996        Trailers  Behind the Scenes               None  None
997  Deleted Scenes               None               None  None
998        Trailers     Deleted Scenes               None  None
999        Trailers       Commentaries  Behind the Scenes  None

[1000 rows x 4 columns]

In [38]:
splitted = data['special_features'].str.split(',', expand = True)
sp_columns = ["SP_1", "SP_2", "SP_3", "SP_4"]
splitted.columns = sp_columns
splitted

               SP_1               SP_2               SP_3  SP_4
0    Deleted Scenes  Behind the Scenes               None  None
1          Trailers     Deleted Scenes               None  None
2          Trailers     Deleted Scenes               None  None
3      Commentaries  Behind the Scenes               None  None
4    Deleted Scenes               None               None  None
..              ...                ...                ...   ...
995        Trailers  Behind the Scenes               None  None
996        Trailers  Behind the Scenes               None  None
997  Deleted Scenes               None               None  None
998        Trailers     Deleted Scenes               None  None
999        Trailers       Commentaries  Behind the Scenes  None

[1000 rows x 4 columns]

In [39]:
data = pd.concat([data, splitted], axis = 1)
data

,title,rental_date,rating,length,rental_duration,special_features,category_id,rented_in_May,SP_1,SP_2,SP_3,SP_4
0,ACADEMY DINOSAUR,2005-07-08 19:03:15,PG,86,6,"Deleted Scenes,Behind the Scenes",6,False,Deleted Scenes,Behind the Scenes,None,None
1,ACE GOLDFINGER,2005-08-01 04:24:47,G,48,3,"Trailers,Deleted Scenes",11,False,Trailers,Deleted Scenes,None,None
2,ADAPTATION HOLES,2005-07-27 01:21:19,NC-17,50,7,"Trailers,Deleted Scenes",6,False,Trailers,Deleted Scenes,None,None
3,AFFAIR PREJUDICE,2005-07-12 02:40:41,G,117,5,"Commentaries,Behind the Scenes",11,False,Commentaries,Behind the Scenes,None,None
4,AFRICAN EGG,2005-05-28 07:53:38,G,130,6,Deleted Scenes,8,True,Deleted Scenes,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
995,YOUNG LANGUAGE,2005-07-08 23:51:26,G,183,6,"Trailers,Behind the Scenes",6,False,Trailers,Behind the Scenes,None,None
996,YOUTH KICK,2005-07-27 10:21:15,NC-17,179,4,"Trailers,Behind the Scenes",12,False,Trailers,Behind the Scenes,None,None
997,ZHIVAGO CORE,2005-06-17 03:19:20,NC-17,105,6,Deleted Scenes,11,False,Deleted Scenes,None,None,None
998,ZOOLANDER FICTION,2005-07-06 11:40:27,R,101,5,"Trailers,Deleted Scenes",3,False,Trailers,Deleted Scenes,None,None
999,ZORRO ARK,2005-07-12 21:46:33,NC-17,50,3,"Trailers,Commentaries,Behind the Scenes",5,False,Trailers,Commentaries,Behind the Scenes,None

In [40]:
data = data.drop(["special_features"], axis = 1)
data

,title,rental_date,rating,length,rental_duration,category_id,rented_in_May,SP_1,SP_2,SP_3,SP_4
0,ACADEMY DINOSAUR,2005-07-08 19:03:15,PG,86,6,6,False,Deleted Scenes,Behind the Scenes,None,None
1,ACE GOLDFINGER,2005-08-01 04:24:47,G,48,3,11,False,Trailers,Deleted Scenes,None,None
2,ADAPTATION HOLES,2005-07-27 01:21:19,NC-17,50,7,6,False,Trailers,Deleted Scenes,None,None
3,AFFAIR PREJUDICE,2005-07-12 02:40:41,G,117,5,11,False,Commentaries,Behind the Scenes,None,None
4,AFRICAN EGG,2005-05-28 07:53:38,G,130,6,8,True,Deleted Scenes,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
995,YOUNG LANGUAGE,2005-07-08 23:51:26,G,183,6,6,False,Trailers,Behind the Scenes,None,None
996,YOUTH KICK,2005-07-27 10:21:15,NC-17,179,4,12,False,Trailers,Behind the Scenes,None,None
997,ZHIVAGO CORE,2005-06-17 03:19:20,NC-17,105,6,11,False,Deleted Scenes,None,None,None
998,ZOOLANDER FICTION,2005-07-06 11:40:27,R,101,5,3,False,Trailers,Deleted Scenes,None,None
999,ZORRO ARK,2005-07-12 21:46:33,NC-17,50,3,5,False,Trailers,Commentaries,Behind the Scenes,None

In [41]:
data["rental_date"].value_counts(dropna = True)

2005-07-08 19:03:15    1
2005-07-10 04:56:55    1
2005-07-12 08:33:49    1
2005-07-08 20:23:15    1
2005-07-31 06:41:46    1
                      ..
2005-07-29 11:16:29    1
2005-05-27 10:23:25    1
2005-06-16 17:49:57    1
2005-05-31 07:33:25    1
2005-07-12 21:46:33    1
Name: rental_date, Length: 958, dtype: int64

# Creating features and target

In [42]:
# Target
y = data["rented_in_May"]

# Features. (dropping rental_date as we are analysing only on rented_in_May column)
X = data.drop(["rented_in_May", "rental_date"], axis = 1)